



@keyframes square-to-circle {
    0% {
        
        
        background: rgb(0+1, 0+1, +1);
    }
    25% {
        
        background: rgb(+1, +1, +1);
    }
    50% {
        
        background: rgb(+1, +1, +1);
    }
    75% {
        
        background: rgb(+1, +1, +1);
    }
    100% {
        
        background: rgb(+1, +1, +1);
    }
}
    